<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OracleConnection" connectionString="User Id=DBUSERID; Password=DBPASSWORD; Data Source=DBHOST;" />
  </connectionStrings>
  <appSettings>
    <add key="TopMost" value="false" />
    <add key="DoInitExec" value="false" />
    <add key="LogDays" value="10" />
    <add key="SyncDir" value="C:\SynchronizeDirectory" />
    <add key="DBHost" value="DHost" />
    <add key="DBUserId" value="UID" />
    <add key="DBPassword" value="PWD" />
    <add key="MongoConnectionString" value="mongodb://NMatsudaDB1" />
    <add key="MongoDBName" value="test" />
    <add key="MongoCollectionName" value="things" />
  </appSettings>
</configuration>